-- INSERT DEPARTMENTS
INSERT INTO departments (name, slug, professor_count) VALUES ('Accounting', 'accounting', 1) ON CONFLICT (slug) DO UPDATE SET professor_count = 1;
INSERT INTO departments (name, slug, professor_count) VALUES ('Agriculture', 'agriculture', 1) ON CONFLICT (slug) DO UPDATE SET professor_count = 1;
INSERT INTO departments (name, slug, professor_count) VALUES ('Anthropology', 'anthropology', 22) ON CONFLICT (slug) DO UPDATE SET professor_count = 22;

-- INSERT PROFESSORS
INSERT INTO professors (first_name, last_name, department_name, department_id, rmp_id, rmp_graphql_id, avg_rating, avg_difficulty, num_ratings, would_take_again_percent) 
VALUES ('Edbertho', 'Leal-Quiros', 'Engineering', (SELECT id FROM departments WHERE slug = 'engineering'), '1357893', 'VGVhY2hlci0xMzU3ODkz', 3.5, 2.7, 15, 0)
ON CONFLICT (rmp_graphql_id) DO UPDATE SET avg_rating = EXCLUDED.avg_rating, avg_difficulty = EXCLUDED.avg_difficulty, num_ratings = EXCLUDED.num_ratings, would_take_again_percent = EXCLUDED.would_take_again_percent;
INSERT INTO professors (first_name, last_name, department_name, department_id, rmp_id, rmp_graphql_id, avg_rating, avg_difficulty, num_ratings, would_take_again_percent) 
VALUES ('Andrea', 'Merg', 'Chemistry', (SELECT id FROM departments WHERE slug = 'chemistry'), '2640018', 'VGVhY2hlci0yNjQwMDE4', 3.5, 3.3, 76, 63.1579)
ON CONFLICT (rmp_graphql_id) DO UPDATE SET avg_rating = EXCLUDED.avg_rating, avg_difficulty = EXCLUDED.avg_difficulty, num_ratings = EXCLUDED.num_ratings, would_take_again_percent = EXCLUDED.would_take_again_percent;
INSERT INTO professors (first_name, last_name, department_name, department_id, rmp_id, rmp_graphql_id, avg_rating, avg_difficulty, num_ratings, would_take_again_percent) 
VALUES ('Marco', 'Alcocer', 'Political Science', (SELECT id FROM departments WHERE slug = 'political-science'), '3064204', 'VGVhY2hlci0zMDY0MjA0', 2.6, 3.1, 12, 50)
ON CONFLICT (rmp_graphql_id) DO UPDATE SET avg_rating = EXCLUDED.avg_rating, avg_difficulty = EXCLUDED.avg_difficulty, num_ratings = EXCLUDED.num_ratings, would_take_again_percent = EXCLUDED.would_take_again_percent;
